body {
  overflow-x: hidden;
}

p {
  color: #ecf0f1;
}

.navbar-brand {
  font-family: Pacifico, sans-serif;
}

#bg1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

#bg2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.bg-container-bottom {
  position: relative;
}

#bg3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

#bg4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
#bg1 svg {
  display: block;
  transform-origin: top;
  animation: animateWave 5000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

#bg2 svg {
  display: block;
  transform-origin: top;
  animation: animateWave 5000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

#bg3 svg {
  display: block;
  transform-origin: bottom;
  animation: animateWave 5000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

#bg4 svg {
  display: block;
  transform-origin: bottom;
  animation: animateWave 5000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.title-hi {
  font-size: 10rem;
  margin-bottom: 0;
}

.about-container {
  position: relative;
}

.about-title {
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  width: 30rem;
  background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
  position: relative;
  padding: 2rem;
}

.about-title > p:first-child {
  font-size: 5rem;
}

.about-content {
  width: 50rem;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  top: 16rem;
  left: 10rem;
}

.programming-language {
  padding: 2rem;
}

.programming-language > p {
  font-size: 2rem;
  text-align: center;
  color: black;
}

.programming-language-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  width: 100px;
  height: auto;
}

.item img {
  object-fit: cover;
}

.item p {
  font-size: 1rem;
  color: black;
  text-align: center;
}

.ability-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ability-item img {
  width: 40px;
  height: auto;
}

.ability p {
  color: black;
  text-align: center;
}

.case-study {
  margin-top: 40rem;
  position: relative;
}

.case-study-title {
  position: absolute;
  top: -10rem;
  right: 0;
  background: linear-gradient(90deg, #9400D3 0%, #4B0082 100%);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
}

.case-study-title h1 {
  font-size: 5rem;
  text-align: center;
  color: #ecf0f1;
}

.card {
  width: 20rem;
  margin-bottom: 50px;
  transition: box-shadow 0.3s ease-out;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
}
.card:hover .img-container {
  transform: translateY(-200px);
}
.card:hover .img-container img {
  opacity: 0.5;
}

.img-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-out;
  z-index: 2;
}

.img-container:hover {
  cursor: pointer;
}

.img-container img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-out;
}

.case-study-item {
  width: 20%;
}

.card-body {
  background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.card-title {
  color: #ecf0f1;
}

.footer {
  margin-top: 300px;
}

.footer p {
  text-align: center;
}

.wanna-text {
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 96px;
}

.contact {
  align-items: center;
}

.email {
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
}

.sent-email-button {
  background-color: white;
  font-size: 72px;
  font-family: Pacifico, sans-serif;
  color: linear-gradient(90deg, #DA22FF 0%, #9733EE 100%);
  border-radius: 10px;
}

.social {
  padding-top: 200px;
  padding-bottom: 100px;
  align-items: center;
}

.social-item > a {
  color: #ecf0f1;
  font-size: 24px;
  font-weight: lighter;
}

.home-link a {
  font-family: Pacifico, sans-serif;
  font-size: 72px;
  color: #ecf0f1;
}

/*# sourceMappingURL=style.css.map */
